.copyright
    - var hexoURL = "https://hexo.io/";
    - var apolloURL = "https://github.com/pinggod/hexo-theme-apollo";
    - var currentDate = new Date();
    - var year = currentDate.getFullYear();
    p © #{year} #[a(href=config.url)!= config.author], #[a(href=hexoURL, target="_blank") hexo] & #[a(href=apolloURL, target="_blank") hexo-theme-apollo].